
<footer class="public-footer footer text-white text-center" style="background-color: black ;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <nav>
                    <ul class="list-unstyled d-flex justify-content-center">
                        <li class="py-1"><a href="#" class="text-white">Read our Privacy Policy</a></li>
                        <li class="py-1"><a href="/courses/addCourse" class="text-white">Share us your courses</a></li>
                        <li class="py-1"><a href="/users/login" class="text-white">Sign up for a Free Trial</a></li>
                        <li class="py-1"><a href="/contacts/contact" class="text-white">Get in touch with us</a></li>
                    </ul>
                </nav>
                <p class="text-white mb-0"><strong>Thank you for visiting and supporting us!</strong></p>
            </div>

            <div>
                
            </div>
        </div>

        <div>
            <i class="fab fa-twitter fa-2x"></i> 
            <i class="fab fa-instagram fa-2x"></i> 
            <i class="fab fa-facebook fa-2x"></i>
            <i class="fa-brands fa-whatsapp fa-2x"></i>
        </div>

        <div class="row justify-content-center mt-3">
            <div class="col text-center">
                <span class="text-small text-white opacity-50">© <span id="copyright-year"></span> LETSSCALE. ALL RIGHTS
                    RESERVED. <br> 2024</span>
            </div>
        </div>

    </div>
</footer>
</body>
</html> 