.contact-page {
  padding: 50px;
  background-color: rgba(181, 178, 178, 0.7);
  background-image: url("/images/v3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
  
.contact-form {
  max-width: 400px;
  margin: 0 auto;
}
  
.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(12, 87, 14);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
  
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 3px solid rgb(8, 79, 91);
  border-radius: 5px;
  background-color: #f1f5f5;
  font-family: monospace;
}
  
.contact-form button {
  display: block;
  padding: 10px;
  background-color: #0d431c;
  color:rgb(16, 227, 55);
  border: none;
  border-radius: 5px;
  margin-left: 140px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
  
.contact-form button:hover {
  background-color:green;
}
    
.info-item {
  margin-right: 30px;
  text-align: center;
}
  
.info-item i {
  font-size: 24px;
  margin-bottom: 10px;
  color: blue;
}
  
.custom-alert {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4CAF50; /* Green background */
  color: white;
  padding: 20px;
  border-radius: 5px;
  z-index: 9999;
}

.message {
  margin: 0;
}